3.EA/SOA/ESB labs/labs/lab6/resources/PartsInventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:tns="http://www.acmeOrders.com/PartsInfo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.acmeOrders.com/PartsInfo">
	<xsd:complexType name="OrderPartType">
		<xsd:sequence>
			<xsd:element name="partNo" type="xsd:string" />
			<xsd:element name="opartQuantity" type="xsd:string" />
			<xsd:element name="orderDate" type="xsd:string" />
			<xsd:element name="orderTime" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="orderPart" type="tns:OrderPartType"></xsd:element>
</xsd:schema>
